body { padding:200px 0 40px; background:#ddd url(../img/cubes.png) repeat;
	font-family:FreeSans,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.header .description { white-space:nowrap; font-size:23px; line-height:140%; margin-top:32px; text-shadow:0 1px 0 rgba(255, 255, 255, .4); font-weight:bold; }
	.header .description p { margin:0 0 4px; }
	.header .description .tech { font-size:20px; font-weight:normal; }

.links p { margin-top:20px; font-weight:bold; white-space:nowrap; }

a.btn { color:#df2a00; }
a.btn:hover, a.btn:focus { color:#9f0a00; text-decoration:none; }
	i.icon-align-left { margin-top:2px; }
