.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Add remoteStorage support to your platform

.container
  section.content
    :markdown
      /view/provide/index.html
