.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Add remoteStorage support to your platform

.container
  section.content
    .provide-storage
      :markdown
        To add remoteStorage support to your online storage product, please check out our
        [forum category](http://community.remotestorage.io/category/server-development) 
        and follow our latest IETF Internet Draft:
        [draft-dejong-remotestorage-02](http://tools.ietf.org/html/draft-dejong-remotestorage-02).

        All existing providers are still using one of the previous two versions, [draft-dejong-remotestorage-00](http://tools.ietf.org/html/draft-dejong-remotestorage-00) and [draft-dejong-remotestorage-01](http://tools.ietf.org/html/draft-dejong-remotestorage-01), but historical versions [2010.12, 2011.04, 2011.12, and 2012.04](https://github.com/remotestorage/spec/) are now deprecated.

    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
