.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Give your users remoteStorage accounts

.container
  section.content
    .provide-storage
      :markdown
        There is an npm package available for building custom remoteStorage servers, called
        [remotestorage-server](https://www.npmjs.org/package/remotestorage-server). It is
        the basis of the [starter-kit](https://github.com/remotestorage/starter-kit#remotestorage-starter-kit) and
        will be updated whenever new versions of the spec come out.

        To add remoteStorage support to your online storage product, please check out our
        [forum category](http://community.remotestorage.io/category/server-development) 
        and follow our current "live" IETF Internet Draft, which until December 2014 is:
        [draft-dejong-remotestorage-02](http://tools.ietf.org/html/draft-dejong-remotestorage-02).

        During December 2014 - June 2015, all storage providers should switch from version 02 to
        [version 03](http://tools.ietf.org/html/draft-dejong-remotestorage-03),
        and so for each subsequent six-month period (always staying at least 1 and at most 2 versions behind
        the newest published version).

        Version [draft-dejong-remotestorage-01](http://tools.ietf.org/html/draft-dejong-remotestorage-01) will
        become deprecated on the day version 04 comes out. Historical versions
        [2010.12, 2011.04, 2011.12, 2012.04, and draft-dejong-remotestorage-00](https://github.com/remotestorage/spec/)
        are already deprecated.

    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
