.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Add remoteStorage support to your platform

.container
  section.content
    .unfinished
      :markdown
        To add remoteStorage support to your platform, simply follow our IETF Internet-Draft, [draft-dejong-remotestorage-00](https://tools.ietf.org/id/draft-dejong-remotestorage-00.txt).
