.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Add remoteStorage support to your platform

.container
  section.content
    .provide-storage
      :markdown
        To add remoteStorage support to your platform, please follow our latest
        IETF Internet Draft:
        [draft-dejong-remotestorage-00](http://tools.ietf.org/html/draft-dejong-remotestorage-00).

    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
