.hero
  .container
    section.content
      h2 Provide storage
      p.claim.
        Add remoteStorage support to your platform

.container
  section.content
    .provide-storage
      :markdown
        To add remoteStorage support to your online storage product, please follow our latest
        IETF Internet Draft:
        [draft-dejong-remotestorage-01](http://tools.ietf.org/html/draft-dejong-remotestorage-01).

        *NB:* keep in mind is this [warning about 412 response codes](https://github.com/remotestorage/spec/issues/23#issuecomment-20686517).
        
        All existing providers are still using one of the previous two versions, [draft-dejong-remotestorage-00](http://tools.ietf.org/html/draft-dejong-remotestorage-00) and [2012.04](http://www.w3.org/community/unhosted/wiki/RemoteStorage-2012.04), but [2011.10](http://www.w3.org/community/unhosted/wiki/RemoteStorage-2011.10) is now deprecated.

    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
