.hero
  .container
    section.content
      h2 Community
      p.claim.
        Get help or get involved

.container
  section.content
    .community-channels
      .row

        section.forums
          :markdown
            ### [Forums](http://community.remotestorage.io)

            Our (just launched) main community exchange and support channel for
            everybody from users to developers and providers.

            #### What to use it for:

            * Getting help with anything
            * Discussing all things remoteStorage
            * Announcing your remoteStorage apps, projects, services, etc.

        section.github
          :markdown
            ### [GitHub](https://github.com/remotestorage)

            All source code is hosted on GitHub, and we use GitHub's issues, pull
            requests and comments extensively.

            #### What to use it for:

            * Reporting bugs and problems
            * Asking questions about source code
            * Contributing new source code

      .row

        section.irc
          :markdown
            ### [IRC](irc://irc.freenode.net/#remotestorage)

            The core developers as well as other community members are usually
            available for a chat in the
            [#remotestorage](irc://irc.freenode.net/#remotestorage) channel on
            Freenode. You can [open the chat in your browser](#), if you don't have
            an IRC client.

            #### What to use it for:

            * Asking general questions about remoteStorage
            * Telling people about your app/project/...
            * Watercooler talk

        section.twitter
          :markdown
            ### [Twitter](https://twitter.com/remotestorage_)

            Follow [@remotestorage_](https://twitter.com/remotestorage_) on
            Twitter to receive updates and announcements about releases,
            events, apps, and related news.

            Before our dedicated twitter account, we used to tweet everything from
            [@unhosted](https://twitter.com/unhosted), which you should also
            check out for general updates on fighting hosted data silos!

    .meet-people
      :markdown
        ### Meet people in person

        remoteStorage folks are travelling a lot, and it's rumored some of them
        don't even have a home address. So chances are good you can meet people
        in person, learn about remoteStorage at a conference, or even be part
        of a remoteStorage hackathon. Be sure to [follow us on
        Twitter](https://twitter.com/remotestorage_) to receive event
        announcements!

        #### The Unhosted Unconference

        Every year in September, we throw an unconference-style event in a small
        town called Unhost, right next to Prague. During these days we discuss
        the whole project, learn about new developments, work on issues, make
        larger decisions, and most importantly: have a lot of fun and learn to
        know each other. Check out and [track the next one on
        Lanyrd](http://lanyrd.com/2013/unhosted/)!
