.hero
  .container
    section.content
      h2 Community
      p.claim.
        Get help or help out

.container
  section.content
    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
