footer
  .container
    p.copyright
      | © 2015 
      a(href="https://github.com/remotestorage?tab=members") remoteStorage contributors
      | , 
      a(href="http://creativecommons.org/licenses/by/3.0/") CC-BY
      span(class="divider") &middot;
      a(href="https://github.com/remotestorage/remotestorage.io") Fork this website
    p.actions
      a(href="https://twitter.com/remotestorage_", class="twitter-follow-button", data-dnt="true", data-show-count="false", data-lang="en") Follow @remotestorage_
