nav
  ul
    li.get
      a(href='/get') Get Storage
    li.integrate
      a(href='/integrate') Integrate Storage
    li.provide
      a(href='/provide') Provide Storage
    li.community
      a(href='/community') Community
    li.guides
      a(href='#') Guides
    li.api
      a(href='#') API
