nav
  ul
    li.get
      a(href='/get') Get Storage
    li.integrate
      a(href='/integrate') Developers
    li.provide
      a(href='/provide') Providers
    li.community
      a(href='/community') Community
    li.guides
      a(href='http://community.remotestorage.io') Forums
    li.spec
      a(href='http://tools.ietf.org/html/draft-dejong-remotestorage-02') Spec
