nav
  ul
    li.get-storage
      a(href='/get-storage.html') Get Storage
    li.integrate-storage
      a(href='/integrate-storage.html') Integrate Storage
    li.provide-storage
      a(href='/provide-storage.html') Provide Storage
    li.community
      a(href='/community.html') Community
    li.guides
      a(href='#') Guides
    li.api
      a(href='#') API
