// :markdown
//   **Whoo!** You got everything working. Now get to making cool things : )

.hero
  .container
    section.content
      h2 remoteStorage
      p.claim.
        An open protocol for per-user storage
      p.specs
        a(href="#") Webfinger
        &nbsp;+&nbsp;
        a(href="#") OAuth
        &nbsp;+&nbsp;
        a(href="#") CORS
        &nbsp;+&nbsp;
        a(href="#") REST

.container
  section.content
    :markdown
      Index content

// :coffeescript
//   console.log 'you can even use coffeescript in your views, aw yeah'
