// :markdown
//   **Whoo!** You got everything working. Now get to making cool things : )

.hero.frontpage
  .container
    section.content
      h2 remoteStorage
      p.claim.
        An open protocol for per-user storage
      p.specs
        a(title="Discover per-user services from a 'user@host' identifier") Webfinger
        &nbsp;+&nbsp;
        a(title="Give an app access to certain parts of your storage account") OAuth
        &nbsp;+&nbsp;
        a(title="Cross-origin AJAX requests") CORS
        &nbsp;+&nbsp;
        a(title="GET, PUT and DELETE files in folders on your storage") REST

.container
  section.content
    .benefits
      section.freedom
        h3 Own your data
        :markdown
          Everything in one place – your place. Use a storage account with a
          provider you trust, or set up your own storage server. Move house
          whenever you want. It's your data.
      section.sync
        h3 Stay in sync
        :markdown
          remoteStorage-enabled apps automatically sync your data across all
          of your devices, from desktop to tablet to smartphone, and even your TV.
      section.sync
        h3 Compatibility is king
        :markdown
          Use the same data across different apps. Create a to-do list in one
          app, and track the time on your tasks in another one. Say goodbye to data
          silos.
    .benefits
      section.offline
        h3 Go offline
        :markdown
          Offline support is built into remoteStorage.js by default. Use your
          apps offline on the go, and automatically sync when you're back online.
      section.freedom
        h3 Backend as a Service
        :markdown
          Develop your web app without worrying about hosting or even developing
          the backend for it: your users will connect their own backend at runtime.
      section.freedom
        h3 New apps come prefilled
        :markdown
          When using an app for the first time, you don't have to go through profile
          setup; start using the app straight away, with all your existing user data.

// :coffeescript
//   console.log 'you can even use coffeescript in your views, aw yeah'
