// :markdown
//   **Whoo!** You got everything working. Now get to making cool things : )

.hero
  .container
    section.content
      h2 remoteStorage
      p.claim.
        An open protocol for per-user storage
      p.specs
        a(href="#") Webfinger
        &nbsp;+&nbsp;
        a(href="#") OAuth
        &nbsp;+&nbsp;
        a(href="#") CORS
        &nbsp;+&nbsp;
        a(href="#") REST

.container
  section.content
    .benefits
      section.freedom
        h3 Own your data
        :markdown
          Everything in one place – your place. Use a storage account with a
          provider you trust, or set up your own storage server. Move house
          whenever you want. It's your data.
      section.sync
        h3 Stay in sync
        :markdown
          remoteStorage-enabled apps automatically sync your data across all
          of your devices, from desktop to tablet to smartphone, and even your TV.
      section.sync
        h3 Compatibility is king
        :markdown
          Use the same data across different apps. Create a to-do list in one
          app, and track the time on your tasks in another one. Say goodbye to data
          silos.
    .benefits
      section.offline
        h3 Go offline
        :markdown
          Offline support is built into remoteStorage.js by default. Use your
          apps offline on the go, and automatically sync when you're back online.
      section.freedom
        h3 Be awesome, like Batman
        :markdown
          Donec sed odio dui. Donec sed odio dui. Nullam quis risus eget urna
          mollis ornare vel eu leo. Praesent commodo cursus magna, vel
          scelerisque nis.
      section.freedom
        h3 Or Catwoman
        :markdown
          Donec sed odio dui. Donec sed odio dui. Nullam quis risus eget urna
          mollis ornare vel eu leo. Praesent commodo cursus magna, vel
          scelerisque nis.

// :coffeescript
//   console.log 'you can even use coffeescript in your views, aw yeah'
