.hero
  .container
    section.content
      h2 remoteStorage
      p.claim.
        An open protocol for per-user storage
      p.specs
        a(title="Discover per-user services from a 'user@host' identifier") Webfinger
        &nbsp;+&nbsp;
        a(title="Give an app access to certain parts of your storage account") OAuth
        &nbsp;+&nbsp;
        a(title="Cross-origin AJAX requests") CORS
        &nbsp;+&nbsp;
        a(title="GET, PUT and DELETE files in folders on your storage") REST

.container
  section.content
    .benefits
      section.sync
        h3 Sync for the web
        :markdown
          Let your unhosted web app sync data to the user's remoteStorage,
          or even to their Dropbox or Google Drive.
      section.freedom
        h3 Free your users' data
        :markdown
          You host the app, but not the user data.
          The user picks their own favorite storage provider.
    .benefits
      section.import
        h3 Instant data import
        :markdown
          With access to the user's existing storage, your app is full of usable data,
          created from other apps. Even on first use.
      section.offline
        h3 Offline first
        :markdown
          The sync engine in the remoteStorage.js library was fully designed with
          offline-first principles in mind.
