<!-- <link rel="shortcut icon" href="{% asset_path favicon.ico %}" type="image/x-icon" /> -->
<!-- <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}" /> -->
<!-- <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path apple-touch-icon-57x57.png %}" /> -->
<!-- <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path apple-touch-icon-72x72.png %}" /> -->
<!-- <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path apple-touch-icon-114x114.png %}" /> -->
<!-- <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path apple-touch-icon-144x144.png %}" /> -->
