.hero
  .container
    section.content
      h2 Own your data
      p.claim.
        Get a storage account or set up your own

.container
  section.content
    .get-storage

      .providers
        h3 Get an account with a hoster
        :markdown
          Storage providers are still preparing for the brandnew remoteStorage.
          In the meantime, you can get an account with one of these services:
        ul
          li
            :markdown
              #### [5apps Storage](https://5apps.com/storage/beta)
              The first commercial remoteStorage provider just launched the
              public beta of its dedicated remoteStorage service.
          li
            :markdown
              #### [heahdk](https://heahdk.net/)
              A simple and unassuming remoteStorage provider. Mainly for testing
              purposes. (Currently down!)
          li
            :markdown
              #### Add yours!
              Providing remoteStorage to users, but not on this list? [Add your
              service](https://github.com/remotestorage/remotestorage.io/edit/master/views/get/index.jade)!

      .selfhost
        h3 Host your own storage server
        :markdown
          You can set up remoteStorage on your own server by using one of the
          following implementations, or [creating your own](/provide):
        ul
          li
            h4
              a(href="https://github.com/jcoglan/restore") reStore
            :markdown
              remoteStorage server based on node.js. Supports both Redis and the
              filesystem as storage backend.
          li
            h4
              a(href="https://github.com/remotestorage/rs-serve") rs-serve
            :markdown
              remoteStorage server written in C for POSIX systems, storing data
              in system users' home directories.
          li
            h4
              a(href="https://github.com/fkooman/php-remoteStorage") php-remoteStorage
            :markdown
              remoteStorage server written in PHP. Missing Webfinger, so not 100%
              compatible at the moment.
          li
            h4
              a(href="https://github.com/remotestorage/remotestorage-ruby") remoteStorage-ruby
            :markdown
              Basic remoteStorage server written in Ruby, storing data in PostgreSQL.
          li
            h4
              a(href="https://github.com/5apps/liquor-cabinet") Liquor Cabinet
            :markdown
              remoteStorage server API based on Sinatra (Ruby). Excludes the
              OAuth portion! Supports multiple backends, but only Riak is
              implemented at the moment.
          // li
          //   h4
          //     a(href="http://owncloud.org") OwnCloud
          //   :markdown
          //     Open-source personal cloud platform, running on the LAMP stack.
          //     Currently needs [an
          //     extension](https://github.com/michielbdejong/owncloud-owa), which
          //     will be included by default soon.
          li
            :markdown
              #### Add yours!
              Why not [create your own storage server](/provide)? If you do, [add it to this
              list](https://github.com/remotestorage/remotestorage.io/edit/master/views/get/index.jade)!

    .unfinished
      :markdown
        This page is still incomplete. Check back soon.
