.hero
  .container
    section.content
      h2 Own your storage
      p.claim.
        Get a storage account or set up your own

.container
  section.content
  
    .providers
      ul
        li.5apps
          h3 5 APPS
          p An HTML5 App & Hosting platform and remoteStorage provider.
        li.heahdk
          h3 heahdk
          p a simple and unassuming remoteStorage provider.
            
    .selfhost
      ul
        li.restore
          h3 
            a(href="https://github.com/jcoglan/restore") reStore
          p remoteStorage server based on node.js
        li.remotestorage-ruby
          h3 
            a(href="https://github.com/RemoteStorage/remotestorage-ruby") remoteStorage-ruby
          p basic ruby remoteStorage server
        li.liquorcabinet
          h3 
            a(href="https://github.com/5apps/liquor-cabinet") Liquor Cabinet
          p remoteStorage server API (excluding oAuth portion)  
        li.owncloud
          h3 
            a(href="http://owncloud.org") OwnCloud
          p open-source personal cloud platform
        li.php-remoteStorage
          h3
            a(href="https://github.com/fkooman/php-remoteStorage") php-remoteStorage
          p split into parts php-remoteStorage, php-oauth
        li.addyours
          h3 Add yours!
          p You can create your own, and add it to the list here.
          
