@import '_settings'

global-reset()
base()

footer_height = 50px

// grid()
// column-width: 50
// gutter-width: 30
// columns: 12
// total-width: 960px

checkmarked-list()
  list-style: none
  margin-left: 0
  li
    margin-left: 0
    &:before
      content: "\2714\20"
      font-size: 16px

*
  -webkit-font-smoothing: auto

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td
  border: none

.container
  max-width: 960px
  margin: 0 auto

body
  color: #333
  bg "/img/noise2.png" repeat scroll 0% 0% #fff
  text-align: center

header
  bg "/img/noise2.png" repeat scroll 0% 0% #43413E
  float: left
  width: 100%
  padding: 15px 0

  .logo
    column(3)
    text-align: left
    h1
      a
        display: block
        text-indent: -100000px
        size: 260px 40px
        bg: "/img/remotestorage-wide.svg"
        background-size: auto 40px
        // background: #eee

  nav
    column(9)
    text-align: left
    // background: #ccc
    ul
      float: right
      margin-top: 5px
      li
        display: inline-block
        font-size: 14px
        margin: 0 5px
        // text-transform: uppercase
        a
          display: block
          text-decoration: none
          color: #eee
          line-height: 30px
          padding: 0 10px
          border-radius: 5px
          text-shadow: 0 1px 1px #000
          transition: all 0.2s linear;
          &:hover, &.active
            color: #fff
            background-color: #333

.hero
  bg "/img/noise2.png" repeat scroll 0% 0% #eee
  float: left
  width: 100%
  section.content
    h2
      font-size: 28px
      margin 0 0 10px 0
      // text-shadow: 0 1px 3px #fff
    p
      &.claim
        font-size: 20px
        margin 0 0 28px 0
        // text-shadow: 0 1px 3px #fff
      &.specs
        a
          text-decoration: none
          color: #333
          border-bottom: 1px solid #aaa
          transition: all 0.2s linear;
          &:hover
            border-bottom: 1px solid #666
            cursor: help
      &:last-child
        margin-bottom: 0

section.content
  column(12)
  text-align: left
  padding: 50px 0
  &.bordered
    border-bottom: 1px dotted #ccc
  h2
    font-size: 24px
    margin: 0 0 24px 0
    font-weight: bold
  a
    link(#d92b00)
  h3
    font-weight: bold
    margin-bottom: 20px
    text-transform: uppercase
  h4
    font-weight: bold
    margin-bottom: 14px
    line-height: 1em
  p
    line-height: 1.4em
    font-size: 14px
    margin-bottom: 20px
  ul
    list-style: disc
    margin-left: 18px
    margin-bottom: 20px
    li
      font-size: 14px
      line-height: 1.4em
  em
    font-style: italic

  .header
    column(4)
  .actions
    column(8)
    padding-top: 3px
    ul
      float: right
      list-style: none
      margin: 0
      li
        float: left
        margin: 0 0 0 20px
        text-align: center
        p
          margin: 0 0 10px 0
          &:last-child
            margin: 0
          &.meta
            font-size: 12px
            color: #888
          .divider
            margin: 0 5px
    a.btn
      button(#fa4905, medium, #fff)

  .community-channels
    ul
      checkmarked-list()
    section
      padding-bottom: 20px
      column(6)

.with_subnav
  padding: 50px 0
  float: left
  text-align: left
  clearfix()
  nav
    text-align: left
    width: 200px
    column(3)
    // &.fixed > ul
    //   position: fixed
    ul
      bg "/img/noise2.png" repeat scroll 0% 0% #43413E
      border-radius(5px)
      padding: 10px 0
      width: 200px
      li
        line-height: 1.4em
        a
          display: block
          padding: 5px 14px
          text-decoration: none
          color: #eee
          text-shadow: 0 1px 1px #000
          font-size: 14px
          transition: all 0.2s linear;
          &:hover, &.active
            color: #fff
            background-color: #333
        ul
          padding: 0 0 5px 0
          width: 200px
          li
            a
              padding-left: 24px
              font-size: 12px

  section.content
    column(9)
    push(3)
    text-align: left
    padding: 0
    h3
      padding-top: 10px
      &:first-of-type
        padding: 0
    h4
      padding-top: 10px

.row
  row(12)
  clearfix()

.alt
  bg "/img/noise2.png" repeat scroll 0% 0% #eee
  float: left
  width: 100%

.benefits
  &:last-child
    padding: 0
  row(12)
  float: left
  padding-bottom: 30px
  section
    column(4,12)
    h3
      margin-bottom: 14px
    p
      margin: 0

.meet-people
  padding-top: 20px

section.content .get-storage
  row(12)
  .providers, .selfhost
    column(6)
    &> p
      margin-bottom: 20px
      color: #888
    ul
      list-style: none
      margin-left: 0
      margin-bottom: 40px
    li
      margin: 0 0 20px 0

section.content .integrate
  img.widget
    float: right
    margin: 0 0 20px 20px

.unfinished
  column(12)
  padding-top: 50px
  margin: 0
  p
    notice()
    font-size: 14px

footer
  bg "/img/noise2.png" repeat scroll 0% 0% #43413E
  float: left
  width: 100%
  // padding: 20px 0
  font-size: 12px
  color: #ccc
  text-shadow: 0 1px 1px #000
  p
    line-height: footer_height
    &.copyright
      column(8)
      text-align: left
    &.actions
      column(4)
      text-align: right
  .divider
    margin: 0 10px
  iframe
    vertical-align: middle !important

pre
  code
    font-family: Menlo, Consolas, 'Ubuntu Mono', monospace
    line-height: 1.4em
    font-size: 12px
    padding: 15px
    margin-bottom: 25px
    bg "/img/noise2.png" repeat scroll 0% 0% #43413E
    border-radius 5px

footer
  a
    link(#ccc)
    border-bottom: 1px dotted #aaa

// Sticky footer
html
  height: 100%
body
  height: 100%
#wrapper
  min-height: 100%
#wrapper-content
  padding-bottom: footer_height
.space
  clear: both
  height: 30px // ugly hack
footer
  margin-top: 0 - footer_height
  height: footer_height
