$blue: #219be2;
$yellow: yellow;

html, body {
  font-size: 14px;
}

a {
  color: $blue;
}

.navbar-brand {
  padding: 8px 15px;
  img {
    height: 34px;
  }
}

section#welcome {
}

.jumbotron {
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background: $blue;
  color: #fff;
  font-size: 1.5rem;
  &.small {
    padding-top: 1em;
    padding-bottom: 0.5em;
    h2 {
      margin-top: 0;
      font-size: 2rem;
    }
    p.actions {
      padding: 3px 0 0 0;
      text-align: right;
    }
  }
  h2 {
    font-size: 2.5rem;
    a {
      color: #fff;
    }
  }
  p.actions {
    padding-top: 1rem;
  }
  .btn-default {
    margin-right: 0.5rem;
    background: none;
    border-color: rgba(255,255,255,0.5);
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    font-size: 1.5rem;
    &.small {
      padding-top: 1.5em;
      padding-bottom: 1em;
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .jumbotron {
    &.small {
      padding-top: 2em;
      padding-bottom: 1.5em;
    }
  }
}

section.benefits {
  padding: 3rem 0;
  text-align: center;

  .row > div {
    margin-bottom: 2rem;
  }

  .pictogram {
    width: 87px;
    height: 100px;
    margin: 0 auto;
    &.hexagon {
      position: relative;
      background-image: url(/img/hexagon-yellow-01.svg);
      background-size: contain;
      padding-top: 26px;
      i {
        font-size: 50px;
        color: #fff;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

main {
  padding: 2rem 0;
  aside {
    padding-right: 2rem;
    section {
      margin: 0 0 2rem;
    }
    h3 {
      font-size: 1rem;
      color: #888;
      margin: 0 0 1.5rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    &.recent-posts h3 {
      margin: 0 0 2rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      h4 {
        font-weight: normal;
        font-size: 1.2rem;
        margin: 0 0 0.5rem 0;
      }
      p {
        margin: 0;
      }
      li {
        margin-bottom: 1.2rem;
      }
    }
  }
  &.blog {
    article {
      background: #fff;
      border: 1px solid #E6E6E6;
      margin-bottom: 2rem;
      @include border-radius(5px);
      header {
        border-bottom: 1px solid #E6E6E6;
        h2 {
          margin: 0 0 0 0;
          font-size: 2rem;
          a {
            text-decoration: underline;
          }
        }
      }
      header, .content {
        padding: 2rem;
      }
      h3 {
        margin: 2rem 0 1.4rem 0;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    padding: 3rem 0;
  }
}
