$blue: #219be2;
$yellow: yellow;

html, body {
  font-size: 14px;
}

nav.topbar {

}

section#welcome {
  background: $blue;
}

.jumbotron {
  font-weight: normal;
  font-size: 1.5rem;
  color: #fff;
  // text-align: center;
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  p.actions {
    padding-top: 1rem;
  }
  .btn-default {
    margin-right: 0.5rem;
    background: none;
    // border-color: $text-color;
    // color: $text-color;
    border-color: rgba(255,255,255,0.5);
    color: #fff;
  }
}

section.benefits {
  .pictogram {
    width: 87px;
    height: 100px;
    margin: 0 auto;
    &.hexagon {
      background-image: url(/img/hexagon-yellow-01.svg);
      background-size: contain;
    }
  }

  .row > div {
    text-align: center;
    padding: 1em 0;
  }

  h2 {
    font-size: 1.5rem;
  }
}
