$blue: #219be2;
$yellow: yellow;

html, body {
  font-size: 14px;
}

a {
  color: $blue;
}

.navbar-brand {
  padding: 8px 15px;
  img {
    height: 34px;
  }
}

section#welcome {
  background: $blue;
}

.jumbotron {
  font-weight: normal;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  &.small {
    padding-top: 2em;
    padding-bottom: 1.5em;
    h2 {
      margin-top: 0;
    }
    p.actions {
      padding-top: 1.5rem;
      text-align: right;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  p.actions {
    padding-top: 1rem;
  }
  .btn-default {
    margin-right: 0.5rem;
    background: none;
    // border-color: $text-color;
    // color: $text-color;
    border-color: rgba(255,255,255,0.5);
    color: #fff;
  }
}

section.benefits {
  padding: 3rem 0;
  .pictogram {
    width: 87px;
    height: 100px;
    margin: 0 auto;
    &.hexagon {
      background-image: url(/img/hexagon-yellow-01.svg);
      background-size: contain;
    }
  }

  .row > div {
    text-align: center;
    padding: 1em 0;
  }

  h2 {
    font-size: 1.5rem;
  }
}

main {
  padding: 3rem 0;
  &.blog {
    aside.recent-posts {
      padding-right: 2rem;
      h3 {
        font-size: 1rem;
        color: #888;
        margin: 0px 0px 2rem;
        font-weight: normal;
        text-transform: uppercase;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        h4 {
          font-weight: normal;
          font-size: 1.2rem;
          margin: 0 0 0.5rem 0;
        }
        p {
          margin: 0;
        }
        li {
          margin-bottom: 1.2rem;
        }
      }
    }
    article {
      background: #fff;
      border: 1px solid #E6E6E6;
      @include border-radius(5px);
      margin-bottom: 2rem;
      header {
        border-bottom: 1px solid #E6E6E6;
        h2 {
          margin: 0 0 0 0;
          font-size: 2rem;
          a {
            text-decoration: underline;
          }
        }
      }
      header, .content {
        padding: 2rem;
      }
      h3 {
        margin: 2rem 0 1.4rem 0;
      }
    }
  }
}


// GUPPY IRC

.guppy-irc-container {
  border: none;
  width: 100%;
  padding: 0;
}
.guppy-irc-title-container {
  display: none;
}
.guppy-irc-messages-container {
  width: 100%;
  height: 300px;
  padding: 1rem 0;
  background: #fff;
  border: 1px solid #E6E6E6;
  @include border-radius(5px);
}
p.guppy-irc-status-line {
  margin: 0;
  padding: 2px 1rem;
  line-height: 1.4em;
  color: #888;
}
p.guppy-irc-message-line {
  margin: 0;
  padding: 2px 1rem;
  line-height: 1.4em;
  &:last-child {
    margin-bottom: 1rem;
  }
}
p.guppy-irc-message-line-to-me {
  background: #F7F6F2;
}
.guppy-irc-message-nick {
  font-weight: normal;
  color: #888;
}
.guppy-irc-message-nick-decorator {
  margin-right: 3px;
  color: #888;
}
.guppy-irc-input-container {
  width: 85%;
  input {
    width: 100%;
    padding: 0.3rem;
  }
}
.guppy-irc-submit-button-container {
  width: 15%;
  input {
    width: 100%;
  }
}

main.irc {
  p.powered-by {
    padding-top: 1.5rem;
    color: #888;
    font-size: 0.8rem;
  }
}
