$orange: #e221b7;
$blue: #219be2;
$yellow: yellow;

html, body {
  font-size: 14px;
}

a {
  color: $blue;
}

.navbar-inverse {
  border: none;
}

.navbar-brand {
  padding: 8px 15px;
  img {
    height: 34px;
  }
}

section#welcome {
  &.jumbotron {
    padding: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMjE5QkUyIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzM4QTVFNSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzRFQUZFOCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
    background-repeat: repeat;
    .container {
      padding-top: 48px;
      color: #222;
      text-align: center;
      height: 430px;
      background-image: url(/img/hexagon-wide-white-01.svg);
      background-repeat: no-repeat;
      background-position: center -60px;
      background-size: 800px 693px;
      .hero {
        img {
          height: 228px;
          margin-bottom: 22px;
        }
        p {
          color: #888;
        }
      }
    }
  }
}

.jumbotron {
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: $blue;
  color: #fff;
  font-size: 1.5rem;
  p {
    font-weight: normal;
    margin: 0;
  }
  &.small {
    padding-top: 1em;
    padding-bottom: 1em;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2rem;
    }
    p.subhead {
      margin-top: 10px;
    }
    p.actions {
      padding: 3px 0 0 0;
      text-align: right;
    }
  }
  h2 {
    font-size: 2.5rem;
    a {
      color: #fff;
    }
  }
  p.actions {
    padding-top: 1rem;
  }
  .btn-default {
    margin-right: 0.5rem;
    background: none;
    border-color: rgba(255,255,255,0.5);
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    font-size: 1.5rem;
    &.small {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .jumbotron {
    &.small {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
}

.jumbotron.get {
  text-align: center;
  // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMjE5QkUyIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzM4QTVFNSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzRFQUZFOCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
}

section.benefits {
  padding: 3rem 0;
  text-align: center;
  background: #fff;

  .row > div {
    margin-bottom: 2rem;
  }

  .pictogram {
    width: 87px;
    height: 100px;
    margin: 0 auto;
    &.hexagon {
      position: relative;
      background-image: url(/img/hexagon-yellow-01.svg);
      background-size: contain;
      padding-top: 26px;
      i {
        font-size: 50px;
        color: #fff;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

main {
  padding: 2rem 0;
  aside {
    padding-right: 2rem;
    section {
      margin: 0 0 2rem;
    }
    h3 {
      font-size: 1rem;
      color: #888;
      margin: 0 0 1.5rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    &.recent-posts h3 {
      margin: 0 0 2rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      h4 {
        font-weight: normal;
        font-size: 1.2rem;
        margin: 0 0 0.5rem 0;
      }
      p {
        margin: 0;
      }
      li {
        margin-bottom: 1.2rem;
      }
    }
  }
  &.blog {
    article {
      background: #fff;
      border: 1px solid #E6E6E6;
      margin-bottom: 2rem;
      @include border-radius(5px);
      header, .content {
        padding: 2rem;
      }
      header {
        padding-bottom: 0;
        h2 {
          margin: 0 0 0 0;
          font-size: 2rem;
        }
      }
      h3 {
        margin: 2rem 0 1.4rem 0;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    padding: 3rem 0;
  }
}

// /irc/index.html
.guppy-irc-user-list-container {
  display: none
}

// /get/index.html
.providers {
  width: 45%;
  float: left;
}
.selfhost {
  width: 45%;
  float: right;
}

// /provide/index.html
.provide-storage {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.unfinished {
  width: 90%;
  margin: auto;
}
