section.content.bordered
  .benefits
    section.freedom
      h3 Backend as a Service
      :markdown
        Develop your web app without worrying about hosting or even developing
        the backend for it: your users will connect their own backend at runtime.
    section.offline
      h3 Infinite Scalability
      :markdown
        No matter if 5 hundred or 5 million users are using your app, your
        backend scales automatically and never costs you a single cent.
    section.freedom
      h3 Wheels Included
      :markdown
        [remoteStorage.js](https://github.com/remotestorage/remotestorage.js)
        is a JavaScript library that does all the heavy-lifting of connecting
        to any remoteStorage backend, caching, synchronizing and storing user
        data.
