.hero
  .container
    section.content
      .row
        .header
          h2 Integrate storage
          p.claim.
            Add remoteStorage to your app
        .actions
          ul
            li
              p
                a.btn(href="http://remotestorage.io/release/0.9.0/remotestorage.min.js") Download remoteStorage.js 0.9.0
              p.meta
                | 40KB minified, gzipped
                | <span class="divider">&middot;</span>
                a(href="http://remotestorage.io/release/0.9.0/remotestorage.js") Debug build
            li
              p
                a.btn(href="https://github.com/remotestorage/dev-kit/archive/v0.1.0.tar.gz") DEV KIT
              p.meta
                | Version 0.1.0
            li
              p
                a.btn(href="http://remotestorage.io/doc/code/files/remotestorage-js.html") JS API Documentation
              p.meta
                | Version 0.9.0
