ul
  li
    a(href="/integrate/#") Getting started
    ul
      li
        a(href="/integrate/#widget") The Widget
      li
        a(href="/integrate/#modules") Categories, Modules &amp; Schemas
      li
        a(href="/integrate/#examples") Example apps
      li
        a(href="/integrate/#resources") Resources
  // li
  //   a(href="#") Modules
  //   ul
  //     li
  //       a(href="/integrate/#widget") Available modules
  //     li
  //       a(href="/integrate/#modules") How to define a schema
  li
    a(href="/integrate/add-to-app.html") Adding remoteStorage.js to your app
// need some content so that the element doesn't collapse
&nbsp;
