include _hero

.container
  .with_subnav
    nav.fixed(data-scrolltop="287")
      include _subnav

    section.content
      .integrate
        :markdown
          ### Adding remoteStorage.js to your app

          Bla bla bla blubb.

          #### Bla

          Bla bla bla blubb.

          Bla bla bla blubb.

          Bla bla bla blubb.
