<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% stylesheet app %}

    {% include icons.html %}
    <link rel="alternate" type="application/atom+xml" title="The remoteStorage Blog" href="/blog/feed.xml" />
  </head>
  <body>
    <header>
      <h1>remoteStorage</h1>
    </header>

    {{ content }}

    {% javascript main %}
  </body>
</html>
